/* Specification */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
}

a.btn {
    text-transform: uppercase;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 15px 50px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: .3s;
}

a.btn:hover {
    background: #471d79;
    box-shadow: 0 15px 20px rgba(255,255,255,.4);
    transform: translateY(-7px);
}

a.btn:active {
    background: #471d9d;
}

p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #afb8b8;
}

h2 {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #636c6c;
}

.slider, #features, #product-feature, #product-geature, #gallery, #newsletter, footer {
    padding: 65px 0;
}

img, a, i {
    animation-delay: 75ms;
}

/* <header> */
.header-menu {
    background-color: #fff;
    position: fixed;
    z-index: 100;
    height: 60px;  
}

.header-menu a.navbar-brand {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #3c3d42;
    margin-right: 30px;
}

.header-menu ul.navbar-nav {
    margin-top: 10px;
}

.header-menu li a {
    font-size: 14px;
    color: #909595;
    padding-right: 20px;
}

.contacts span {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #3c3d42;
}

.contacts span:first-child {
    margin-right: 20px;
}

.contacts i {
    font-size: 18px;
    color: #3d3e43;
    padding-right: 10px;
}

.slider, .slider > .container > .slider__content {
    height: 100vh;
    max-height: 730px;
    padding: 65px 0;
}

.slider {
    background: url("../img/slider-bg.png") no-repeat center top / cover;
}

.slider__content h2 {
    color: #fff;
}

.slider__content span {
    font-weight: 300;
}

.slider__content p {
    font-size: 14px; 
    color: #9dc7d1;
    margin: 30px 0;
}
/* </header> */

/* <features> */
#features h2 {
    margin-bottom: 30px;
}

#features-center {
    margin-top: 30px;
}

.features-tab__item a {
    padding: 30px 0px;
    border-right: 2px solid #dbe2e2;
}

.features-tab__item a.active {
    border-right: 5px solid #5dca88;
}

.features-tab__item i {
    font-size: 48px;
    color: #3d3e42;
}

.features-tab__item a.active i {
    color: #5dca88;
}

.features-tab__item h5 {
    font-size: 20px;
    color: #636c6c;
}

.features-content__item i {
    font-size: 240px;
    color: #5dca88;
    margin: 40px 0;
}

.features-content__item h4 {
    color: #636c6c;
    font-size: 24px;
    font-weight: 700;
    margin: 25px 0;
}
/* </features> */

/* <product-feature> */
#product-feature, #product-geature {
    background-color: #f2f9fe;
}

.product-feature__learn h2, .product-geature__learn h2 {
    color: #5dca88;
}

.product-feature__learn hr, .product-geature__learn hr {
    width: 100px;
    float: left;
    margin: 20px 0 0 0;
}

.product-feature__learn span, .product-geature__learn span {
    color: #8c9494;
    font-weight: 400;
}

.product-feature__learn p, .product-geature__learn p {
    margin: 50px 0;
}

.product-feature__learn a.btn, .product-geature__learn a.btn {
    border-color: #aab2b5;
    border-width: 2px;
    color: #636c6c;
}

.product-feature__learn a.btn:hover, .product-geature__learn a.btn:hover {
    border-color: #fff;
    color: #fff;
    box-shadow: 0 15px 20px rgba(71,29,120,.4);
}

.product-feature__phone img, .product-geature__learn img {
    max-height: 650px;
}
/* </product-feature> */

/* <gallery> */
#gallery h2 {
    text-align: center;
    margin-bottom: 30px;
}

#gallery-carousel {
    margin-top: 30px;
}

#gallery-carousel p {
    margin-top: 20px;
}

#gallery-carousel img {
    max-height: 450px;
}
/* </gallery> */

/* <product-geature> */
#product-geature {
    background-color: #f2f9fe;
}
/* </product-geature> */

/* <testimonials> */
#testimonials {
    margin: 60px 0;
}

.testimonials-carousel__item img {
    margin-top: 40px;
    border-radius: 60px;
}

.testimonials-carousel__item blockquote {
    padding: 40px 0;
}

blockquote p {
    font-family: "Droid Serif";
    font-size: 24px;
    font-style: italic;
}

blockquote cite {
    color: #5dca88;
    font-size: 24px;
    font-style: normal;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #8c9494;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

.carousel-indicators .active {
    background-color: #5dca88;
}
/* </testimonials> */

/* <newsletter> */
#newsletter {
    background-color: #f3f5f5;
}

#newsletter i {
    color: #8c9494;
    font-size: 36px;
    padding-right: 20px;
}

#newsletter h2 {
    color: #8c9494;
    margin-bottom: 50px;
}

input[type="email"] {
    padding: 8px 0px 8px 20px;
    outline: none;
    border-radius: 20px;
    border-color: #bbc3c2;
    color: #8c9494;
}

input[type="button"] {
    margin-left: -50px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    background-color: #5dca88;
    border: none;
    outline: none;
    transition: .3s;
}

input[type="button"]:hover {
    color: #8c9494;
    background: #fff;
    border: 4px solid #5dca88;
}

input[type="button"]:active {
    color: #fff;
    background-color: #5dca88;
}
/* </newsletter> */

/* <footer> */
footer {
    background-color: #2d312f;
}

footer h2 {
    font-size: 24px;
    color: #8c9494;
    margin: 0 auto;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

footer li {
    margin-right: 25px;
}

footer li:last-child {
    margin-right: 0;
}

.footer-center-icons i {
    color: #5d6461;
    font-size: 36px;
}

.footer-bottom-links li {
    margin-bottom: 0;
}

.footer-bottom-links li a {
    color: #8c9494;
    text-decoration: none;
}
/* </footer> */

/* Media queries */
/* [ xs ] Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    a.btn {
        font-size: 16px;
        padding: 5px 15px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 10px;
    }
    
    .header-menu {
        height: 110px;  
    }

    .header-menu ul.navbar-nav {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-menu a.navbar-brand {
        padding-right: 0;
        margin: 0 auto;
    }

    .header-menu li:first-child {
        display: none;
    }

    .header-menu li a {
        font-size: 9px;
        padding-right: auto;
    }

    .contacts span, .contacts i {
       display: none;
    }

    .slider {
        background: url("../img/small-screens-bg.png") no-repeat center top / cover;
    }

    .slider__content {
        text-align: center;
    }

    .slider__content h2 {
        font-size: 30px;
    }
    
    .slider__content p {
        font-size: 14px; 
    }

    .features-tab__item h5 {
        display: none;
    }

    .features-tab__item a {
        padding: 20px 0px;
    }

    .features-tab__item i {
        font-size: 32px;
    }

    .features-content__item i {
        font-size: 100px;
        margin: 20px 0;
    }

    .features-content__item h4 {
        margin: 10px 0;
        font-size: 18px;
    }

    #features, #product-feature, #gallery {
        padding-top: 115px;
    }

    .product-feature__learn hr, .product-geature__learn hr {
        margin-top: 15px;
    }

    .product-geature__learn h2 {
        font-size: 18px;
    }

    .product-geature__learn p {
        margin: 40px 0;
    }

    #testimonials blockquote p {
        font-size: 16px;
    }

    #testimonials blockquote cite {
        font-size: 16px;
    }
    
    #newsletter input[type="button"] {
        font-weight: 400px;
        font-size: 12px;
    }

    .footer-bottom-links ul {
        display: list-item;
    }

    .footer-bottom-links li {
        text-align: center;
        margin: 5px 0;
    }
}

/* [ sm ] Small devices (landscape phones, 576px and up) */ 
@media (min-width: 576px) and (max-width: 767.98px)  {
    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }
    
    .header-menu {
        height: 110px;  
    }

    .header-menu ul.navbar-nav {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-menu a.navbar-brand {
        padding-right: 0;
        margin-right: 0;
    }

    .contacts span, .contacts i {
       display: none;
    }

    .slider {
        background: url("../img/small-screens-bg.png") no-repeat center top / cover;
    }

    .slider__content {
        text-align: center;
    }

    .slider__content h2 {
        font-size: 30px;
    }
    
    .slider__content p {
        font-size: 22px; 
    }

    .features-tab__item h5 {
        display: none;
    }

    .features-tab__item a {
        padding: 20px 0px;
    }

    .features-content__item i {
        font-size: 180px;
    }

    #features, #product-feature, #gallery {
        padding-top: 115px;
    }

    .product-feature__learn hr, .product-geature__learn hr {
        margin-top: 15px;
    }

    .product-geature__learn h2 {
        font-size: 18px;
    }

    .product-geature__learn p {
        margin: 40px 0;
    }

    #testimonials blockquote p {
        font-size: 16px;
    }

    #testimonials blockquote cite {
        font-size: 16px;
    }
}

/* [ md ] Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h2 {
        font-size: 25px;
    }
    
    p {
        font-size: 14px;
    }

    .header-menu a.navbar-brand {
        font-size: 23px;
        margin-right: 5px;
    }

    .header-menu ul.navbar-nav {
        margin-top: 9px;
    }
    
    .header-menu li a {
        font-size: 10px;
        padding-right: 5px;
    }
    
    .contacts span {
        font-size: 12px;
    }
    
    .contacts span:first-child {
        margin-right: 10px;
    }
    
    .contacts i {
        font-size: 12px;
        padding-right: 5px;
    }

    .features-tab__item i {
        font-size: 36px;
    }
    
    .features-tab__item h5 {
        font-size: 16px;
        padding-top: 8px;
    }

    .features-content__item i {
        font-size: 220px;
    }
    
    .features-content__item h4 {
        font-size: 22px;
    }
}