/* Спецификация */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
}

a.btn {
    text-transform: uppercase;
    outline: none;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    padding: 15px 50px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: .3s;
}

i {
    line-height: 24px;
    font-size: 18px;
    color: #3d3e43;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #afb8b8;
    line-height: 24px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

/* Стили */
#header-top {
    padding: 24px 0px;
}

a.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #3c3d42;
}

#header-top ul {
    padding-left: 16px;
    padding-top: 6px;
}

#header-top li a {
    font-size: 14px;
    color: #747a7a;
    padding-right: 26px;
}

#contacts {
   padding-top: 25px;
   color: #3c3d42;
   font-size: 18px;
   line-height: 24px;
}

.slider {
    background: url("../img/slider-bg.png") no-repeat center top / cover;
    height: 100vh;
    padding-top: 1px;
    max-height: 730px;
}

.slider-content {
    margin-top: 15%;
}

.slider-content p {
    font-size: 14px; 
    color: #9dc7d1;
    padding: 44px 0;
}

.slider-content .btn:hover {
    background: #471d79;
    box-shadow: 0 15px 20px rgba(255,255,255,.4);
    transform: translateY(-7px);
}

.slider-content .btn:active {
    background: #471d9d;
}

#features {
    padding-top: 90px;
}

#features h2 {
    color: #636c6c;
    text-align: center;
    padding-bottom: 30px;
}

#features-center {
    padding: 100px 0;
}

.features-tab__item a {
    padding: 30px 0px;
    border-right: 2px solid #dbe2e2;
}

.features-tab__item a.active {
    border-right: 5px solid #5dca88;
}

.features-tab__item i {
    font-size: 48px;
}

.features-tab__item a.active i {
    color: #5dca88;
}

.features-tab__item h5 {
    font-size: 20px;
    color: #636c6c;
}

.features-content__item i {
    font-size: 220px;
    color: #5dca88;
    text-align: center;
    padding: 40px 0;
}

.features-content__item h4 {
    color: #636c6c;
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
}